.main{
  text-align: center;
background-color: white;
color: black;
width: 500px;
height: 400px;
border: 15px solid orange;
padding: 100px;
margin: 100px;
margin-left: 400px;
}
.button{
  color: black;
  background-color: orange;
}
body{
  background-image: url('Uber-for-delivery.jpg');
}
